.App {
  height: 100vh;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-page {
  text-align: center;
}

.question-container {
  margin-left: 75px;
}
