* {
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: #f5f7fb;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.intro-page h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #293264;
}

.intro-page p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}

.intro-page button {
  padding: 1rem 1.75rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #f5f7fb;
  background: #4d589e;
  border-radius: 15px;
  cursor: pointer;
}